*{ box-sizing: border-box; margin :0; padding: 0; font-family: Menlo, monospace; font-size: 11px; color: #222; font-weight: normal;}
html{ height: 100%; }
body{ height: 100%; }

input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 50%;
    height: 6px;
    background-color: #ECECEC;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #473e4f), color-stop(100%, #51475a));
    background-image: -webkit-linear-gradient(#473e4f, #51475a);
    background-image: -moz-linear-gradient(#473e4f, #51475a);
    background-image: -o-linear-gradient(#473e4f, #51475a);
    background-image: linear-gradient(#C80000, #C80000);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 3px 0px rgba(0,0,0,.5);
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 3px 0px rgba(0,0,0,.5);
}

#toolbar{ list-style-type: none; padding: 5px 5px; background-color: #f3f3f3; border-bottom: 1px solid #ccc; font-family: Lucida Grande, sans-serif; font-size: 12px;}
#toolbar:after{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
#toolbar li{ float: left; padding: 5px;}
#toolbar li:hover{ color: #333; background-color: #e5e5e5;}
#toolbar a{ font-family: 'Lucida Grande', sans-serif; font-size: 12px; color: #5a5a5a; text-decoration: none}
#filters-panel{ clear: both;}
.panel{ position: relative; border-bottom: 1px solid #ccc; background-color: white;}
.panel .handle{ position: absolute; left: 0; top: 0; width: 30px; bottom: 0; background-color: #ddd; cursor: move; }
.handle-icon{ background-image: url(handler.svg); background-repeat: no-repeat; background-position: 50% 8px; background-size: 20%;}
.panel h3{ position: absolute; left: 40px; top: 5px;}
.panel .lines{ padding-top: 10px;}
.remove{ position: absolute; right: 10px; top: 5px; border-bottom: 1px inherit dotted; opacity: .5; transition: opacity 150ms ease-out;}
.remove:hover{ opacity: 1;}
.line{ position: relative; width: 100%; height: 20px;}
.line h4{ position: absolute; left: 40px; color: #C80000; }
.line input[type=range]{ position: absolute; left: 120px; right: 60px; width: calc(100% - 200px); margin: 5px 0; }
.line input[type=text].text{ position: absolute; left: 120px; right: 60px; width: calc(100% - 200px); margin:; 0; outline: none; border: 1px solid #f3f3f3; padding: 0 5px }
.line .label{ position: absolute; right: 25px; width: 50px; text-align: right; outline: none; border: 1px solid #f3f3f3; padding: 0 5px;}
.line .units{ position: absolute; right: 10px; width: 20px; text-align: right;}
#no-filters{ padding: 10px; text-align: center;}
footer{ padding: 5px 5px; background-color: #f3f3f3; border-bottom: 1px solid #ccc; font-family: Lucida Grande, sans-serif; font-size: 12px; text-align: right;}

